.features,
.uifryPremium {
  position: relative;
  z-index: 8;
}
.features {
  letter-spacing: 0.16em;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 116px;
}
.uifryPremium {
  margin: 0;
  align-self: stretch;
  font-size: var(--font-size-29xl);
  line-height: 48px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-black);
}
.featuresParent {
  width: 359px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  max-width: 100%;
  color: var(--color-tomato);
}
.budgetingIntervals {
  flex: 1;
  position: relative;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
  z-index: 8;
}
.budgetingIntervalsWrapper {
  width: 239px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.cumEtConvallis {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-gray-500);
  z-index: 8;
}
.frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.budgetingIntervals1 {
  flex: 1;
  position: relative;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
  z-index: 8;
}
.budgetingIntervalsContainer {
  width: 239px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.cumEtConvallis1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-gray-500);
  z-index: 8;
}
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.budgetingIntervals2 {
  flex: 1;
  position: relative;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
  z-index: 8;
}
.budgetingIntervalsFrame {
  width: 239px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.cumEtConvallis2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-gray-500);
  z-index: 8;
}
.frameParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frameGroup,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.frameWrapper {
  width: 730.5px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-27xl);
  box-sizing: border-box;
}
.wrapperGroup35930Child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.724);
}
.wrapperGroup35930 {
  position: absolute;
  top: 116.7px;
  left: 99px;
  width: 393px;
  height: 285.1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frameChild {
  position: absolute;
  top: 127.7px;
  left: 0;
  width: 67.9px;
  height: 67.9px;
  object-fit: contain;
  z-index: 8;
}
.cube02Icon,
.cube04Icon,
.star05Icon {
  position: absolute;
  top: 242px;
  left: 684px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 8;
}
.cube02Icon,
.cube04Icon {
  top: 370px;
}
.cube04Icon {
  top: 498px;
}
.wrapperGroup35933,
.wrapperGroup35933Child {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.wrapperGroup35933Child {
  object-fit: contain;
  top: 20px;
  transform: scale(1.057);
}
.wrapperGroup35933 {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperGroup35930Parent {
  height: 719.5px;
  width: 719.5px;
  position: absolute;
  margin: 0 !important;
  top: -639.5px;
  left: -129px;
}
.advatnages {
  position: relative;
  letter-spacing: 0.16em;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 8;
}
.whyChooseUifry {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-29xl);
  line-height: 48px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-black);
  z-index: 8;
}
.advatnagesParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.cleverNotifications {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  z-index: 8;
}
.cleverNotificationsWrapper {
  width: 399px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-44xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.frameParent4 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-23xl);
}
.frameParent3,
.frameParent4,
.frameWrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameWrapper1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-179xl) 0 0;
  box-sizing: border-box;
}
.frameParent3 {
  width: 470px;
  flex-direction: row;
  position: relative;
  min-width: 470px;
}
.wrapperGroup35931Child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.869);
}
.wrapperGroup35931 {
  position: absolute;
  top: 324.2px;
  left: 121px;
  width: 327px;
  height: 237.3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arcuAtDictum {
  margin: 0;
  position: absolute;
  bottom: 198.5px;
  left: -520px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  width: 535px;
  z-index: 8;
}
.wrapperGroup35935,
.wrapperGroup35935Child {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.wrapperGroup35935Child {
  object-fit: contain;
  top: 20px;
  transform: scale(1.056);
}
.wrapperGroup35935 {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.onHoldChild {
  height: 61.5px;
  width: 201px;
  position: relative;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: none;
}
.b,
.onHoldItem {
  position: relative;
  z-index: 1;
}
.onHoldItem {
  height: 40.6px;
  width: 40.6px;
  border-radius: 12.29px;
  object-fit: cover;
}
.b {
  letter-spacing: 0.61px;
  line-height: 15px;
  font-weight: 700;
  display: inline-block;
  min-width: 62px;
  white-space: nowrap;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-7) 0 0;
}
.onHold1 {
  position: relative;
  font-size: var(--font-size-5xs-4);
  line-height: 8px;
  color: var(--color-red);
  text-align: center;
  display: inline-block;
  min-width: 28px;
  z-index: 1;
}
.frameParent6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.fromAdom {
  position: relative;
  font-size: var(--font-size-4xs-6);
  letter-spacing: 0.31px;
  line-height: 9px;
  color: var(--color-gray-100);
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.frameParent5,
.onHold,
.onHoldInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent5 {
  align-self: stretch;
  gap: var(--gap-7xs-9);
}
.onHold,
.onHoldInner {
  width: 122.7px;
  padding: var(--padding-11xs-8) 0 0;
  box-sizing: border-box;
}
.onHold {
  position: absolute;
  top: 340.2px;
  left: 347px;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 201px;
  flex-direction: row;
  padding: var(--padding-2xs-5) var(--padding-3xs) var(--padding-2xs-4);
  gap: var(--gap-smi-3);
  z-index: 11;
  font-size: var(--font-size-mini-8);
  color: var(--color-gray-400);
  font-family: var(--font-nunito-sans);
}
.frameItem,
.wrapperGroup35937Child {
  object-fit: contain;
  position: absolute;
}
.frameItem {
  width: 67.9px;
  height: 67.9px;
  margin: 0 !important;
  top: 7.7px;
  right: 68.6px;
  z-index: 8;
}
.wrapperGroup35937Child {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 11;
  left: 0;
  top: 20px;
  transform: scale(1.057);
}
.frameInner,
.wrapperGroup35937 {
  position: absolute;
  margin: 0 !important;
}
.wrapperGroup35937 {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frameInner {
  height: 470.8px;
  width: 484.4px;
  bottom: -255.5px;
  left: -113px;
  object-fit: contain;
}
.rectangle {
  width: 260.1px;
  height: 159.3px;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-black);
  display: none;
}
.groupIcon,
.tm {
  position: relative;
  z-index: 13;
}
.groupIcon {
  height: 16.7px;
  width: 50.7px;
  object-fit: cover;
}
.tm {
  font-weight: 800;
  display: inline-block;
  min-width: 4.3px;
}
.groupParent,
.tmWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tmWrapper {
  flex-direction: column;
  padding: var(--padding-8xs-9) 0 0;
}
.groupParent {
  flex-direction: row;
  gap: var(--gap-11xs-1);
}
.creditCardvisaTypewhite {
  width: 44.3px;
  height: 14.6px;
  position: relative;
  z-index: 13;
}
.creditCardvisaTypewhiteWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.frameParent8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.cardno,
.validThru {
  position: relative;
  letter-spacing: 0.08em;
  z-index: 13;
}
.cardno {
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.validThru {
  line-height: 5px;
  display: inline-block;
  min-width: 30px;
}
.validThruWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-3) 0 0;
}
.div {
  position: relative;
  font-size: var(--font-size-2xs-4);
  letter-spacing: 0.08em;
  display: inline-block;
  min-width: 32px;
  z-index: 13;
}
.frameParent9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-1);
  flex-shrink: 0;
  debug_commit: bf4bc93;
  font-size: var(--font-size-8xs-8);
}
.cardnoParent {
  flex-direction: column;
  gap: var(--gap-smi-7);
  font-size: var(--font-size-smi-7);
  font-family: var(--font-dm-sans);
}
.cardnoParent,
.frame,
.frameParent7,
.starParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  flex: 1;
  backdrop-filter: blur(27.89px);
  border-radius: var(--br-base);
  background-color: var(--color-black);
  flex-direction: column;
  padding: var(--padding-base-1) var(--padding-mid) var(--padding-mini-5);
  gap: var(--gap-51xl-3);
  z-index: 12;
}
.frameParent7,
.starParent {
  width: 261.1px;
  flex-direction: row;
  position: relative;
}
.starParent {
  position: absolute;
  bottom: -639.5px;
  left: -647px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-205xl-7) var(--padding-180xl) var(--padding-206xl);
  box-sizing: border-box;
  font-size: var(--font-size-11xs);
  color: var(--color-white);
  font-family: var(--font-plus-jakarta-sans);
}
.wrapperGroup35931Parent {
  height: 719.5px;
  flex: 1;
  position: relative;
  min-width: 467px;
  max-width: 100%;
  color: var(--color-gray-500);
}
.frameParent,
.frameParent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: 100%;
  color: var(--color-tomato);
}
.frameParent {
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-50xl);
  box-sizing: border-box;
  gap: var(--gap-28xl-5);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-clash-display);
}
@media screen and (max-width: 1200px) {
  .frameParent3 {
    flex: 1;
  }
  .frameParent2 {
    flex-wrap: wrap;
  }
  .frameParent {
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .uifryPremium,
  .whyChooseUifry {
    font-size: var(--font-size-19xl);
    line-height: 38px;
  }
}
@media screen and (max-width: 750px) {
  .frameGroup {
    gap: var(--gap-base);
  }
  .frameWrapper {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .frameParent4 {
    gap: var(--gap-2xl);
  }
  .frameParent3 {
    min-width: 100%;
  }
  .starParent {
    padding-left: var(--padding-80xl);
    padding-right: var(--padding-80xl);
    box-sizing: border-box;
  }
  .wrapperGroup35931Parent {
    min-width: 100%;
  }
  .frameParent2 {
    gap: var(--gap-6xl);
  }
  .frameParent {
    gap: var(--gap-5xl);
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .uifryPremium,
  .whyChooseUifry {
    font-size: var(--font-size-10xl);
    line-height: 29px;
  }
  .cleverNotifications {
    font-size: var(--font-size-3xl);
    line-height: 22px;
  }
  .cleverNotificationsWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame {
    gap: var(--gap-16xl);
  }
  .starParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
